*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
}

.FSSAI-banner {
    background-color: #F5F5F5; /* Light blue background */
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
  
    border: 1px solid #FFD21B33 !important;
}
.Fassi-heading{
font-size: 24px;
font-weight: 600;
margin-bottom: 20px;
}

.Fassi-pharagraph{
    font-size: 16px;
    color: #666666;
}



.price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.butns{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
 .buy-butn{
    border: 2px solid transparent;
    background-color: #FFD21B;
    color: black;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 5px;


 }
 .buy-butn:hover{
    background-color: transparent;
    border: 2px solid #FFD21B;
    color: #FFD21B;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;


 }
 .smll{
    font-size: 14px;
    font-weight: 500;
 }

 
 .footer {
    padding: 20px 0;
}
.footer-heading-smal{
    font-size: 16px;
    font-weight: 600;
}
.footer-heading{
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    
}
.footer-link {
    width: 70%; /* Adjust width as needed */
    line-height: 17.5px;
}
.links-space{
    margin-bottom: 10px;
}
.footer-link a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.footer-link a:hover {
   color: #FFD21B;
    font-size: 14px;

    font-weight: 500;
    text-decoration: none;
}
.footer-social {
    display: flex;
}
.social-links a{
    color: #333;

    text-decoration: none;
}
.social-links a:hover{
    color: #FFD21B;
    text-decoration: none;
}
.footer-social a {
    margin-right: 15px;
    color: #333;
}
.footer-newsletter {
    width: 40%; /* Adjust width as needed */
}
.footer-newsletter input[type="email"] {
    padding: 6px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    height: 38px;
    margin-top: 18px;
    width: 100%;
}
.footer-newsletter button {
    background-color: #FFD21B;
    color: black;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 20px;
    white-space: nowrap;
}
.footer-newsletter button:hover {
    /* background-color: black; */
    background-color: transparent;
    border: 2px solid #FFD21B;
    color: #FFD21B;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 20px;
    white-space: nowrap;
}